{{ if .Site.Params.information.enable | default false }}
<section id="information">
    <div class="container bg-transparent px-0">
        <div class="bg-transparent row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-8 content">
                <!-- <div> -->
                    <div class="nav nav-pills m-3 bg-transparent">
                        <!-- <div class="nav-item px-3 bg-transparent"> -->

                            {{ if and (.Site.Params.about.enable | default false) (not (.Site.Params.navbar.menus.disableAbout | default false)) }}
                            <li class="nav-item px-md-3 px-1 bg-transparent">
                                <a href="#about" aria-label="about">
                                    {{ .Site.Params.about.title | default "About" }}
                                </a>
                            </li>
                            {{ end }}

                            {{ if and (.Site.Params.experience.enable | default false) (not (.Site.Params.navbar.menus.disableExperience | default false)) }}
                            <li class="nav-item px-md-3 px-1 bg-transparent">
                                <a href="#experience"
                                    aria-label="experience">
                                    {{ .Site.Params.experience.title | default "Experience" }}
                                </a>
                            </li>
                            {{ end }}
                
                            {{ if and (.Site.Params.education.enable | default false) (not (.Site.Params.navbar.menus.disableEducation | default false)) }}
                            <li class="nnav-item px-md-3 px-1 bg-transparent">
                                <a href="#education"
                                    aria-label="education">
                                    {{ .Site.Params.education.title | default "Education" }}
                                </a>
                            </li>
                            {{ end }}
                
                            {{ if and (.Site.Params.projects.enable | default false) (not (.Site.Params.navbar.menus.disableEducation | default false)) }}
                            <li class="nnav-item px-md-3 px-1 bg-transparent">
                                <a href="#projects"
                                    aria-label="projects">
                                    {{ .Site.Params.projects.title | default "Projects" }}
                                </a>
                            </li>
                            {{ end }}
                
                            {{ if and (.Site.Params.achievements.enable | default false) (not (.Site.Params.navbar.menus.disableAchievements | default false)) }}
                            <li class="nnav-item px-md-3 px-1 bg-transparent">
                                <a href="#achievements"
                                    aria-label="achievements">
                                    {{ .Site.Params.achievements.title | default "Achievements" }}
                                </a>
                            </li>
                            {{ end }}
                
                            {{ if and (.Site.Params.contact.enable | default false) (not (.Site.Params.navbar.menus.disableContact | default false)) }}
                            <li class="nnav-item px-md-3 px-1 bg-transparent">
                                <a href="#contact"
                                    aria-label="contact">
                                    {{ .Site.Params.contact.title | default "Contact" }}
                                </a>
                            </li>
                            {{ end }}                        
                        <!-- </div> -->
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</section>
{{end}}